<h1>編集ページ</h1>

<h2>会員情報編集</h2>
  <%= form_with model: @customer,url:customers_path, method: :patch, local:true do |f| %>
    <h4>氏名</h4>
    <%= f.text_field :last_name, autofocus: true, id:"inputLastaName", placeholder:"姓" %>
    <%= f.text_field :first_name %>

    <h4>フリガナ</h4>
    <%= f.text_field :last_name_kana %>
    <%= f.text_field :first_name_kana %>

    <h4>メールアドレス</h4>
    <%= f.text_field :email %>

    <h4>郵便番号</h4>
    <%= f.text_field :postal_code %>

    <h4>住所</h4>
    <%= f.text_field :address %>

    <h4>電話番号</h4>
    <%= f.text_field :telephone_number %><br />


    <%= f.submit '編集内容を保存' %>
  <% end %>

  <%= link_to "退会する", customers_hide_path %>
