<h1>Admin::Items#index</h1>
<h1>New Item</h1>
<%= flash[:notice] %>
<%= form_with model: @item,url: admin_items_path do |f| %>

<%= f.label :商品画像 %><br />
<%= f.file_field :image, accept: "image/*" %><br />

<%= f.label :商品名 %><br />
<%= f.text_field :name %><br />

<%= f.label :商品説明 %><br />
<%= f.text_area :introduction %><br />

<%= f.label :税抜価格 %><br />
<%= f.text_field :price, data: { autonumeric: {aSign: '¥ ', mDec: 0 } } %>円<br />

<%= f.submit '新規登録' %>
<% end %>

<% @items.each do |item| %>
  <%= image_tag item.get_image, size: "200x200" %>
  <p><%= link_to item.name,"/admin/items/#{item.id}" %></p>
  <p><%= item.introduction %></p>
<% end %>