<h1>Admin::Items#show</h1>

<% if @item.image.attached? %>
<%= image_tag @item.image, size: "200x200" %>
<% else %>
<%= image_tag 'no_image', size: "200x200" %>
<% end %>
<p><%= @item.name %></p>
<p><%= @item.introduction %></p>
<p><%= @item.price %></p>

<%= link_to "編集する", edit_admin_item_path %>