<h1>Public::Orders#index</h1>

<div class="container">
  <div claas="row">
    <div class="col-md-10 col-md-offset-1">
      <table>
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% if customer_signed_in? %>
          <% @orders.each do |order| %>
          <tr>
              <td><%= order.created_at.to_s(:datetime_jp) %></td>
              <td><%= order.address %></td>
              <td><% order.order_history_details.each do |order_history_detail| %>
                <%= order_history_detail.item.name %>
                <% end %>
              </td>
              <td><%= order.total_payment %></td>
              <td><%= order.status %></td>
              <td><%= link_to "表示する", order_path(order.id), class:"btn btn-sm btn-primary" %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>