<h1>Public::Orders#new</h1>
<p>Find me in app/views/public/orders/new.html.erb</p>

<p>支払方法</p>
<%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
  <%= f.radio_button :payment_method, :credit_card %>
  <%= f.label :payment_method, "クレジットカード", {value: :credit_card, style: "display: inline-block;"} %>
  <%= f.radio_button :payment_method, :transfer %>
  <%= f.label :payment_method, "銀行振込", {value: :transfer, style: "display: inline-block;"} %>

  <%= f.radio_button :address_option, :my_address %>
  <%= f.label :address_option, "ご自身の住所", {value: :my_address, style: "display: inline-block;"} %>
  <p><%= @customer.postal_code %></p>
  <p><%= @customer.address %></p>
  <p><%= @customer.last_name %></p>
  <p><%= @customer.first_name %></p>

  <%= f.radio_button :address_option, :select_address %>
  <%= f.label :address_option, "登録住所から選択", {value: :select_address, style: "display: inline-block;"} %>
　<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>

  <%= f.radio_button :address_option, :new_address %>
  <%= f.label :address_option, "新しいお届け先", {value: :new_address, style: "display: inline-block;"} %>

  <h4>宛名</h4>
  <%= f.text_field :name %>

  <h4>郵便番号</h4>
  <%= f.text_field :postal_code %>

  <h4>住所</h4>
  <%= f.text_field :address%>

  <%= f.submit '確認画面へ進む' %>
<% end %>