<h1>商品詳細</h1>

<p><%= @item.name %></p>
<p><%= @item.introduction %></p>

<%= form_with model: @cart_item, local:true do |f| %>
<%= f.select :amount, *[1..9] %>
<% f.hidden_field :name, :value => "カートに追加する" %>

<%= f.submit 'カートに追加する' %>
<% end %>